<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <php>
        <const name="FTP_SERVER_HOST" value="localhost" />
        <const name="FTP_SERVER_PORT" value="2022" />
        <const name="FTP_SERVER_USER" value="testuser" />
        <const name="FTP_SERVER_PASSWORD" value="test" />
    </php>
</phpunit>
